# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.so
*.egg-info/
*.pyd

# Virtual environment
.venv/

# Editor & OS files
*.DS_Store
.vscode/
.idea/

# Confidential ad raw data
scripts/legacy
data/raw/*
data/proc/*
!data/raw/.gitkeep
!data/proc/.gitkeep
test/

# Jupyter
.ipynb_checkpoints/

# Env & secrets (if used)
.env
.env.*
gcloud_credential.json